.App {
  text-align: center;
} 
body{
  width:100%;
  overflow-x: hidden;
}
.graphsCont{
  display:flex; 
  justify-content: space-evenly;
}  
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.chart-container{
  width:45% !important;
  margin-inline: 1rem;
  display: inline-block;
  margin-top:3rem
}
.firstChart{

}
.gagueComp{
  width:25%
}
.gaugeGrid{
  width:100%;
  display:flex;
  flex-direction: row;
}  
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.canvasHidden { 
  display: none;
}
@media (max-width:860px){
  .gagueComp{
    width:45%
  }
  .gaugeGrid{
    flex-direction: row;
    flex-wrap: wrap;
  }
.chart-container{
  width:90% !important;
  margin-inline: auto;
  display: block;
  margin-block:2rem
}
}